<!-- <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand link-white" href="login.html">
        <span style="font-size: 1.3em;">UMMEED</span>
      </a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link link-white active" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-white" href="lender/homepage.html">Lender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-white" href="#">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-white" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-white" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2 class="p-2 pl-4">
        <a href="/" style="text-decoration: none; color: white;">UMMEED</a>
      </h2>
    </div>
    <div class="col-md-8 pt-3 text-right">
      <a class="header-link ml-3" href="borrower/loan-search">Borrower</a>
      <a class="header-link ml-3" href="lender/new-applications">Lender</a>
      <a class="header-link ml-3" href="retail-lender">Retail Lender</a>
      <a class="header-link ml-3" href="/">Login</a>
    </div>
  </div>
</div>
