<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8 p-4">
            <h4 class="text-center">Securitize Loans</h4>
            <br />

            <table class="table table-bordered">
                <tr>
                    <th>Loan No</th>
                    <th>Loan Amount</th>
                    <th style="width: 200px;">Unit Price</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let element of data">
                    <td>{{element.LOAN_ID}}</td>
                    <td>{{element.LOAN_AMOUNT}}</td>
                    <td><input #parent type="text" class="form-control"></td>
                    <td>
                        <button class="btn btn-primary btn-xs" (click)="securitize(element,parent)">
                            Securitize
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>