<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8 p-4">
            <h4 class="text-center">My active loans</h4>
            <br>
            <table class="table table-bordered">
                <tr>
                    <th>Loan no</th>
                    <th>Lender Name</th>
                    <th>Lender Type</th>
                    <th>Amount</th>
                    <th>EMI</th>
                    <th>Tenure</th>
                    <th>EMI Paid</th>
                    <th>EMI remaining</th>
                    <th>Pay EMI</th>
                </tr>
                <tr>
                    <td>105652</td>
                    <td>Annapurna MF</td>
                    <td>MFI</td>
                    <td>10000</td>
                    <td>1122</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td><button data-toggle="modal" data-target="#emiModal" class="btn btn-primary">Pay EMI</button>
                    </td>
                </tr>
                <tr>
                    <td>102596</td>
                    <td>Rakesh Jhalwallah</td>
                    <td>Retail Lender</td>
                    <td>10500</td>
                    <td>194</td>
                    <td>11</td>
                    <td>0</td>
                    <td>60</td>
                    <td><button data-toggle="modal" data-target="#emiModal" class="btn btn-primary">Pay EMI</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="emiModal" tabindex="-1" role="dialog" aria-labelledby="emiModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Pay EMI</h4>
            </div>
            <div class="modal-body">
                <p>You will be paying an amount of 1122 for Annapurna MF.</p>
                <p>You will be redirected to payment gateway once you click the below button</p>
                <a href="success-message" class="btn btn-success">Pay EMI Securely</a>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>