<div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8 p-4">
        <h2 class="text-center">New Applications</h2>
        <br />
        <table class="table table-bordered">
          <tr>
            <th>Application No</th>
            <th>Name</th>
            <th>Loan Amount</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>1002202</td>
            <td>Amit Karmakar</td>
            <td>10000</td>
            <td>
              <button
                class="btn btn-sm mr-2 btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                View
              </button>
              <a
                href="approve-application.html"
                class="btn btn-success btn-sm mr-2"
              >
                Approve
              </a>
              <a href="reject-application.html" class="btn btn-danger btn-sm">
                Reject
              </a>
            </td>
          </tr>
          <tr>
            <td>1002202</td>
            <td>Ashok Subramanian</td>
            <td>10000</td>
            <td>
              <button
                class="btn btn-sm mr-2 btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                View
              </button>
              <a
                href="approve-application.html"
                class="btn btn-success btn-sm mr-2"
              >
                Approve
              </a>
              <a href="reject-application.html" class="btn btn-danger btn-sm">
                Reject
              </a>
            </td>
          </tr>
          <tr>
            <td>1002202</td>
            <td>Dwipanita Maity</td>
            <td>10000</td>
            <td>
              <button
                class="btn btn-sm mr-2 btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                View
              </button>
              <a
                href="approve-application.html"
                class="btn btn-success btn-sm mr-2"
              >
                Approve
              </a>
              <a href="reject-application.html" class="btn btn-danger btn-sm">
                Reject
              </a>
            </td>
          </tr>
          <tr>
            <td>1002202</td>
            <td>Krishanu Khan</td>
            <td>10000</td>
            <td>
              <button
                class="btn btn-sm mr-2 btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                View
              </button>
              <a
                href="approve-application.html"
                class="btn btn-success btn-sm mr-2"
              >
                Approve
              </a>
              <a href="reject-application.html" class="btn btn-danger btn-sm">
                Reject
              </a>
            </td>
          </tr>
          <tr>
            <td>1002202</td>
            <td>Joydeep Guha</td>
            <td>10000</td>
            <td>
              <button
                class="btn btn-sm mr-2 btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                View
              </button>
              <a
                href="approve-application.html"
                class="btn btn-success btn-sm mr-2"
              >
                Approve
              </a>
              <a href="reject-application.html" class="btn btn-danger btn-sm">
                Reject
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                View Application
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <p>Name:</p>
                </div>
                <div class="col">
                  <p>Amount:</p>
                </div>
              </div>
              <p>Address:</p>
              <div class="row">
                <div class="col">
                  <p>Ph no:</p>
                </div>
                <div class="col">
                  <p>Govt id:</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>DoB:</p>
                </div>
                <div class="col">
                  <p>Gender:</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>SHG Affiliation:</p>
                </div>
                <div class="col">
                  <p>Affiliated SHG Name:</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col">
                  <p style="line-height: 100px;">Social Rating</p>
                </div>
                <div class="col text-right">
                  <img
                    src="assets/images/high-risk.jpg"
                    alt=""
                    style="height: 100px;"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  