<div class="container-fluid h-100">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5 p-4">
      <br />
      <h2 class="loan-provider-text text-center">
        Login
      </h2>
      <br />
      <div class="border p-4">
        <form class="" [formGroup]="form" novalidate (ngSubmit)="login()">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Username</label>
            </div>
            <div class="col-md-8">
              <input type="text"  required class="form-control" formControlName="user_id" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Password</label>
            </div>
            <div class="col-md-8">
              <input type="password"  required class="form-control" formControlName="password" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Role</label>
            </div>
            <div class="col-md-8">
              <select class="form-control" required  id="role" formControlName="role">
                <option value="Borrower">Borrower</option>
                <option value="MF Credit Provider">
                  MF Credit Provider
                </option>
                <option value="Retail Lender">Retail Lender</option>
                <option value="Admin">Admin</option>
              </select>
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-primary mr-2" type="submit">Login</button>
            <button class="btn btn-success" type="button">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>