<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 p-4">
      <h4 class="text-center">Search for a loan</h4>
      <br />
      <div class="border p-4">
        <form class="" method="get" action="/borrower/search-result">
          <div class="form-group row">
            <div class="col-md-6">
              <label for="">How much loan do you need?</label>
            </div>
            <div class="col-md-6">
              <input (change)="setLoanAmount($event)" type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="">Purpose for your loan</label>
            </div>
            <div class="col-md-6">
              <select class="form-control" id="role" (change)="loanType($event)">
                <option value="Medical">Medical</option>
                <option value="Business">Business</option>
                <option value="Personal">Education</option>
                <option value="Crop">Other</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="">
                What is your monthly income (INR) ?
              </label>
            </div>
            <div class="col-md-6">
              <select class="form-control" id="income">
                <option value="5000">
                  < 5000</option>
                <option value="5000-10000">5000-10000</option>
                <option value="5000-10000">10000-15000</option>
                <option value="5000-10000">> 15000</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="">
                Preferred tenure (in months) ?
              </label>
            </div>
            <div class="col-md-6">
              <select class="form-control" id="income">
                <option value="6">6 Months</option>
                <option value="12">12 Months</option>
                <option value="24">24 Months</option>
                <option value="36">36 Months</option>
                <option value="48">48 Months</option>
                <option value="60">60 Months</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="">
                Are you associated with any of the SHG listed?
              </label>
            </div>
            <div class="col-md-6">
              <select class="form-control" id="income">
                <option selected>No</option>
                <option value="Annapurna SHG">Annapurna SHG</option>
                <option value="Matribhoomi SHG">Matribhoomi SHG</option>
              </select>
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-success" type="button" (click)="loanSearch()">
              Search for loans
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>