
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand link-white" href="login.html">
          <span style="font-size: 1.3em;">UMMEED</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link link-white active" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-white" href="lender/homepage.html">Lender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-white" href="#">Library</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-white" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-white" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <div class="container-fluid">
      <h2 class="text-center">Review your application</h2>
      <br />
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="card-text">
                <h4 class="text-success">New Age Microfinance</h4>
                <hr />
                <div class="row">
                  <div class="col-md-6">
                    <p><b class="mt-2 mb-1">Address</b></p>
                    <p>
                      5, ABCD Street
                      <br />
                      ABC City
                      <br />
                      PIN - 700000
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p>Scheme Name: Agri Pro</p>
                    <p>Interest Rate: 10%</p>
                    <p>Max Tenure: 5 years</p>
                  </div>
                </div>
                <hr />
                <div class="text-right">
                  <a href="/borrower/success" class="btn btn-primary">
                    Submit Application
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

