<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 p-4">
      <h4 class="text-center">New Applications</h4>
      <br />

      <table class="table table-bordered">
        <tr>
          <th>Application No</th>
          <th>Name</th>
          <th>Loan Amount</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let data of dataSource">
          <td>{{data.APP_ID}}</td>
          <td>{{data.BORROWER_NAME}}</td>
          <td>{{data.AMOUNT}}</td>
          <td>
            <button
              class="btn btn-sm mr-2 btn-primary"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="setData(data)"
            >
              View
            </button>
            <a
              href="approve-application.html"
              class="btn btn-success btn-sm mr-2"
            >
              Approve
            </a>
            <a href="reject-application.html" class="btn btn-danger btn-sm">
              Reject
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              View Application
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col" >
                <p >Name: {{viewData.BORROWER_NAME}}</p>
              </div>
              <div class="col">
                <p>Amount: {{viewData.AMOUNT}}</p>
              </div>
            </div>
            <p>Address: {{viewData.ADDRESS}}</p>
            <div class="row">
              <div class="col">
                <p>Ph no: {{viewData.PHONE_NUMBER}}</p>
              </div>
              <div class="col">
                <p>Govt id: {{viewData.GOVT_ID}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>DoB: {{viewData.DATE_OF_BIRTH}}</p>
              </div>
              <div class="col">
                <p>Gender: {{viewData.GENDER }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>SHG Affiliation: {{viewData.SHG_AFFILIATION}}</p>
              </div>
              <div class="col">
                <p>Affiliated SHG Name: {{viewData.AFFILIATED_SHG_NAME}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col">
                <p style="line-height: 100px;">Social Rating</p>
              </div>
              <div class="col text-right">
                <img
                  src="assets/images/high-risk.jpg"
                  alt=""
                  style="height: 100px;"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
