<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="loansearch.html">
      <span style="font-size: 1.5em;">UMMEED</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
<br />
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-2 h-100 bg-white">
      <h4 class="mt-4 text-center">Menu</h4>
      <br />
      <a class="d-block p-3" href="./lender">Dashboard</a>
      <a class="d-block p-3" href="./lender/new-applications">New Applications</a>
      <a class="d-block p-3" href="./lender/ongoing">Ongoing loans</a>
      <a class="d-block p-3" href="./lender/social-rating">Social Rating</a>
      <a class="d-block p-3" href="./lender/schemes">My Schemes</a>
      <a class="d-block p-3" href="./lender/reports">Reports</a>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <h4 class="text-primary">Ongoing Loans</h4>
            <br>
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Amount</th>
                <th>EMI Tenure</th>
                <th>Paid</th>
                <th>Default</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>Amit Karmakar</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
              <tr>
                <td>Ashok Subramanian</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
              <tr>
                <td>Dwipanita Maity</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
              <tr>
                <td>Krishanu Khan</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
              <tr>
                <td>Suvadip Banerjee</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
              <tr>
                <td>Amit Karmakar</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
              <tr>
                <td>Ashok Subramanian</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
              <tr>
                <td>Amit Karmakar</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
              <tr>
                <td>Ashok Subramanian</td>
                <td>Address</td>
                <td>10000</td>
                <td>60</td>
                <td>25</td>
                <td>0</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    View
                  </button>
                 
                </td>
              </tr>
            </table>
          </div>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    View Application
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Name: </p>
                  <p>Address:</p>
                  <p>Amount:</p>
                  <p>Borrower id:</p>
                  <p>Borrower Type:</p>
                  <p>Govt id:</p>
                  <p>Ph no:</p>
                  <p>DoB:</p>
                  <p>Gender:</p>
                  <p>SHG Affiliation:</p>
                  <p>Affiliated SHG Name:</p>
                  <p>PUB add:</p>
                  <p><b>OVERALL SOCIAL RATING:</b></p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>