<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="loansearch.html">
      <span style="font-size: 1.5em;">UMMEED</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lender/homepage.html">Lender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
<br />
<div class="container-fluid h-100">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5 p-4">
      <br />
      <h2 class="loan-provider-text text-center">
        Borrower Registration
      </h2>
      <br />
      <div class="border p-4">
        
        <form class="" method="get" action="../login.html">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Borrower Type</label>
            </div>
            <div class="col-md-8">
              <select class="form-control" id="borrowertype">
                <option value="Type1">Type1</option>
                <option value="Type2">
                  Type2
                </option>
                <option value="Type3">Type3</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">First Name</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Last Name</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Govt id</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Address</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Phone Number</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Pin Code</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">User id</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Date of birth</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">Gender</label>
            </div>
            <div class="col-md-8">
              <select class="form-control" id="gender">
                <option value="Type1">Male</option>
                <option value="Type2">
                  Female
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">SHG Affiliation</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="">PUB Add</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-primary" type="submit">Cancel</button>
            <a class="btn btn-success" type="submit" href="../reg_success.html">
              Register
            </a>
          </div>
        </form>
      </div>
        
    </div>
  </div>
  <div class="col-md-2"></div>
</div>