<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8 p-4">
            <h4 class="text-center">Buy Security</h4>
            <br />

            <table class="table table-bordered">
                <tr>
                    <th>MFI Name</th>
                    <th>Scheme Name</th>
                    <th>Unit Price</th>
                    <th style="width: 200px;">Quantity</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Annapurna MFI</td>
                    <td>Agri Pro</td>
                    <td>100</td>
                    <td><input type="text" class="form-control"></td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="success-message">
                            Buy
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>ABCD MFI</td>
                    <td>Business Pro</td>
                    <td>120</td>
                    <td><input type="text" class="form-control"></td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="success-message">
                            Buy
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>