<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8 p-4">
            <h4 class="text-center">Buy Security</h4>
            <br />

            <table class="table table-bordered">
                <tr>
                    <th>Loan No</th>
                    <th>MFI Name</th>
                    <th>Unit Price</th>
                    <th style="width: 200px;">Quantity</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let element of data">
                    <td>{{element.LOAN_ID}}</td>
                    <td>{{element.MFI_LENDER}}</td>
                    <td>{{element.SECURITY_AMOUNT}}</td>
                    <td><input #parent type="text" class="form-control"></td>
                    <td>
                        <button class="btn btn-primary btn-xs" (click)="buy(element,parent)">
                            Buy
                        </button>
                        <button 
                          class="btn btn-primary btn-xs"
                          style="margin-left: 1em;"
                          (click)="setLoadDeatils(element)"
                          data-toggle="modal"
                          data-target="#schemeModal"
                        >
                            View
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div
  *ngIf="loanDetails"
  class="modal fade"
  id="schemeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="schemeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Suswastho Scheme</h4>
      </div>
      <div class="modal-body">
        <p>Max Loan Amount: {{loanDetails?.LOAN_AMOUNT}}</p>
        <p>Max Tenure: {{loanDetails?.NUMBER_OF_EMI/12}} years</p>
        <p>Interent rate: {{loanDetails?.INTEREST_RATE}}%</p>
        <p>Borrower Name: {{loanDetails?.BORROWER_NAME}}</p>
        <p>Borrower Address: {{loanDetails?.BORROWER_ADDRESS}}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>